<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>WuIBzAspgHrtbHLFy00O36XITT8GkAE4</string>
	<key>Domain</key>
	<string>manage.fgi-beta.auth0app.com</string>
</dict>
</plist>
